@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Light.ttf') format('opentype');
}
